<h1>Static#hello_world</h1>
<p>Find me in app/views/static/hello_world.html.erb</p>

<%= react_component("HelloWorld", { greeting: "Hello, World!" } )%>

There should have been a react component there...
